<div class="col-10 offset-1">
    <h1>About Splurty</h1>

    <p>
      Splurty was built by <a target="_blank" href="https://github.com/Clark-Griswold/clueless">Dustin</a> . A guy diligently trying to understand what he is doing and hopefully along the way learning a thing or two.
    </p>

    <br />

    <p>
      Note to self: remember to go back and put some thought into this about page.  Take your time though, we would not want to embarrass ourself.
    </p>

    <p>
      If you too want to learn how to do this - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
    </p>

    <div class="row">
      <div class="col-12 col-sm-4">
        <%= image_tag 'dustin.jpg.jpg', class: 'img-fluid' %>
      </div>

      <div class="col-12 col-sm-7 offset-sm-1">
        <h2 class="text-center">Dustin Davis</h2>
        <br />
        <p>
          Dustin Davis is a former somewhat decent runner.  His goal was a sub 4 minute mile.  Unfortunately the closet he came was 4:05.  Then he followed his childhood dream of becoming a firefighter.  After spending 10 years doing that his heart spoke to him to learn another skill.  Web development has quickly become has offered a challenge and the excitement of creating something.
        </p>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
</div>